
//  ==========================
//  Eremin Alexey
//  Email: eremeow138@yandex.ru
//  ==========================

// Подключение примесей
// Файл с переменными
@import 'variables/variables';
// Файл со стилями сброса. Используется подправленный normalize.css
@import 'mixins/mixin';

// Пример подключение шрифта через google fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// Пример подключение шрифта через mixin
// 4 параметра: 1. Название шрифта; 2. Путь к шрифту; 3. Толщина шрифта(font-weight); 4. Стиль шрифта(font-style)
// @include font-face("Pusia", "../fonts/Pusia-Bold", 400, normal); // Раскомментировать при использовании
@include font-face("Roboto", "../fonts/Roboto/Roboto-Bold", bold, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Black", 900, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Light", 300, normal);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Thin", 100, normal);

@include font-face("Roboto", "../fonts/Roboto/Roboto-Medium", 500, normal); // Раскомментировать при использовании
@include font-face("Roboto", "../fonts/Roboto/Roboto-Regular", normal, normal);

@include font-face("Playfair Display", "../fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold", 800, normal);
@include font-face("Playfair Display", "../fonts/PlayfairDisplay/PlayfairDisplay-Medium", 500, normal);
@include font-face("Playfair Display", "../fonts/PlayfairDisplay/PlayfairDisplay-Regular", normal, normal);
@include font-face("Playfair Display", "../fonts/PlayfairDisplay/PlayfairDisplay-Black", 900, normal);
@include font-face("Playfair Display", "../fonts/PlayfairDisplay/PlayfairDisplay-SemiBold", 600, normal);

@include font-face("Post No Bills Jaffna", "../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Light", 300, normal);
@include font-face("Post No Bills Jaffna", "../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Regular", normal, normal);
@include font-face("Post No Bills Jaffna", "../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold", bold, normal);
@include font-face("Post No Bills Jaffna", "../fonts/PostNoBillsJaffna/PostNoBillsJaffna-ExtraBold", 800, normal);
@include font-face("Post No Bills Jaffna", "../fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium", 500, normal);
@include font-face("Post No Bills Jaffna", "../fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold", 600, normal);

@include font-face("Raleway", "../fonts/Raleway/Raleway-Black", 900, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Light", 300, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Medium", 500, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraLight", 200, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-ExtraBold", 800, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Bold", bold, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Thin", 100, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Regular", normal, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-SemiBold", 600, normal);

// Подключение отдельных фалов стилей в общий css

@import 'core/reset';
// Файл с основными стилями каркаса страницы
@import 'core/template';
// Иконки соц сетей
// @import 'core/soc';
// Стили для шапки
@import 'core/header';
// Стили для навигации
@import 'core/navbar';
// Стили для подвала
@import 'core/footer';

@import 'fonts/icon_fonts';

@import 'vendor/modal';

@import 'core/loader';

body {
    background-color: #242B33;
    // overflow-x: hidden;
}

.container_center {
    position: relative;
}

.home {
    @media (min-width: 425px) {
        background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/panorama.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    position: relative;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/panorama_small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        @media (min-width: 768px) {
            margin-top: 54px;
        }
        margin-top: 0;
        // margin-left: 33px;
        max-width: 582px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // flex-grow: 1;
    }

    &__title {
        @media (min-width: 768px) {
            font-size: 48px;
            line-height: 64px;
        }
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 46px;
        text-align: center;
        color: #D4C17F;
        // text-indent: none;
        // flex-grow: 1;
        // letter-spacing: -0.05em;
        // max-width: 581px;
    }

    &__downIcon {
        @media (min-width: 768px) {
            display: block;
        }
        display: none;
        color: #D4C17F;
        font-size: 40px;
        margin-top: 82px;
    }

    &__bottom {
        // margin: 0 auto;
        position: absolute;
        bottom: 21px;
        // left: 29%;
        display: flex;
        justify-content: space-between;
        // max-width: 600px;
    }

    &__item {
        @media (min-width: 768px) {
            &:last-child {
                margin-left: 16px;

            }
            margin-right: 80px;
        }
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

    }

    &__icon {
        @media (min-width: 768px) {
            font-size: 21px;
            margin-right: 15px;
        }
        font-size: 16px;
        margin-right: 8px;
    }

    &__text {
        @media (min-width: 768px) {
            font-size: 18px;
        }
        font-family: Raleway;
        font-size: 12px;
    }

}

.advantages {
    position: relative;
    background-color: #242B33;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 0;

    &__content {
        @media (min-width: 768px) {
            margin: 150px 0 62px;
        }
        position: relative;
        margin: 15px 0;

        max-width: 893px;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;

    }

    &__item {
        // border: 1px solid #D4C17F;
        @media (min-width: 768px) {
            width: 25%;
            margin-top: 0;
        }
        margin-top: 15px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }

    &__icon {
        font-size: 80px;
        color: #D4C17F;
    }

    &__text {
        @media (min-width: 768px) {
            margin-top: 38px;
        }
        // margin: 38px 27px 0;
        margin-top: 5px;

        font-family: Roboto;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        /* or 135% */
        text-align: center;
    }

    &__II {
        position: absolute;

        @media (min-width: 768px) {
            right: 5%;
            top: -77%;

        }
        @media (min-width: 1440px) {
            right: -30%;
            top: -79%;
            font-size: 400px;
        }
        right: 0;
        top: -9%;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: calc(.28 * 100vw + 0px);
        opacity: 0.02;
        text-align: center;

    }

}

.apartments {
    // padding: 20px 0;
    padding-top: 20px;

    &__content {
        @media (min-width: 768px) {
            margin-top: 93px;
        }
        position: relative;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__item {
        @media (min-width: 768px) {
            width: calc(50% - 30px);
            margin-bottom: 36px;
        }
        cursor: pointer;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;

    }

    &__plate {
        display: flex;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 58%;
        width: 100%;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s;
            background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
        }

        &:hover::after {
            content: '';
            opacity: 0;
            // height: 200%;
        }
    }

    &__description {
        @media (min-width: 768px) {
            left: 48px;
            bottom: 35px;
            font-size: 24px;
        }
        position: absolute;
        font-family: Raleway;
        font-weight: normal;
        font-size: 17px;
        left: 48px;
        bottom: 19px;
        z-index: 2;
    }

    &__III {
        @media (min-width: 768px) {
            top: -25%;
        }
        @media (min-width: 1440px) {
            font-size: 400px;
            left: -19%;

        }
        position: absolute;
        left: 0;
        top: -6%;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: calc(.28 * 100vw + 0px);
        opacity: 0.02;
        text-align: center;
    }

}

.section {
    &__title {
        @media (min-width: 768px) {
            font-size: 36px;
        }
        margin: 10px 0;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 27px;
        color: #D4C17F;
    }

}

.firstForm {
    // z-index: 1000;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        @media (min-width: 768px) {
            margin: 143px 0;
            flex-wrap: nowrap;
        }
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__left {
        // max-width: 535px;
        @media (min-width: 768px) {
            width: 50%;
        }
        width: 100%;
        margin-right: 35px;
    }

    &__description {
        margin-top: 44px;
        font-family: Raleway;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

    }

    &__right {
        @media (min-width: 768px) {
            width: 50%;
        }
        width: 100%;
        // max-width: 540px;
        // margin-left: -30px;
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
    }

}

.form {
    position: relative;

    &_grid {
        @media (min-width: 768px) {
            margin: 74px -15px 0;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 43px -15px 0;

        &_margin_s {
            margin: 43px -15px 0;
        }
    }

    &__row {
        @media (min-width: 768px) {
            width: calc(50% - 30px);

            &:nth-child(3) {
                order: 4;
            }
        }
        width: 100%;
        margin: 0 15px 35px;
        position: relative;

        &_text {
            font-size: 13px;
            line-height: 16px;

            text-align: center;

            color: #E7E7E7;
        }

        &_oneLine {
            @media (min-width: 768px) {
                width: calc(25% - 30px);

                &:nth-child(2) {
                    order: 3;
                }

                &:nth-child(1) {
                    order: 3;
                }
            }

        }
        @include formField {
            width: 100%;

            background: rgba(255, 255, 255, 0.2);
            padding: 17px 28px;
            // border: 1px solid rgba(255, 255, 255, 0.2);
            // border: none;
            border: 1px solid transparent;
            // opacity: 0.2;
            outline: none;
            font-size: 14px;
            font-family: Raleway;
            transition: all 0.3s;
            text-align: center;
            color: #BEBEBE;

            &:hover {
                // border: 1px solid #D4C17F;
                background-color: #fff;
                color: black;
            }

            &:focus {
                // border: 1px solid #D4C17F;
                background-color: #fff;
                color: black;
                @include placeholder {
                    color: transparent;
                }

            }

            &.invalid {
                background-color: #fff0f0;
                border: 1px solid red;
            }
            @include placeholder {
                text-align: center;
                color: #BEBEBE;
                font-family: Raleway;
                font-size: 14px;

            }

        }

    }

}

.btn {
    background-color: #D4C17F;
    font-family: Raleway;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 0 17px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;

    &:hover {
        background-color: darken(#D4C17F, 10%);
    }

    &_form {
        width: 100%;
    }
}

.video {
    .container_center {
        position: relative;
    }
    position: relative;

    &__wrapper {
        @media (min-width: 768px) {
            margin: 0 auto;
            max-width: 720px;
        }

        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        overflow: hidden;
        // padding-bottom: 5%;

        &__prev,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .video__play {
                transform: scale(1.5);
            }
        }

        &:active {
            .video__play {
                transform: scale(0.8);
            }
        }
    }

    &__IV {
        @media (min-width: 1440px) {
            font-size: 400px;
            right: -19%;
            top: -10%;
        }
        position: absolute;
        right: -2%;
        top: -41%;
        font-family: Playfair Display;
        font-weight: bold;

        font-size: calc(.28 * 100vw + 0px);
        opacity: 0.02;
        text-align: center;

    }

    &__prev {
        display: block;
        padding-bottom: 56.2%;
        background-position: center;
        background-size: cover;

    }

    &__play {
        transition: 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;

        margin-top: -25px;
        margin-left: -25px;

        cursor: pointer;
        width: 50px;

        @media (min-width: 768px) {
            width: initial;
            margin-top: -50px;
            margin-left: -50px;
        }

    }

}

.map {
    @media (min-width: 768px) {
        margin-top: 160px;
        margin-bottom: 130px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    #yandexMap {
        @media (min-width: 768px) {
            margin: 0;
            width: 100%;
        }
        width: 100vw;
        height: 358px;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__content {
        @media (min-width: 768px) {
            margin-top: 100px !important;
        }
        margin-top: 30px !important;
    }

    &__V {
        @media (min-width: 1440px) {
            font-size: 400px;
            left: -11%;
            top: -7%;
        }
        position: absolute;
        left: -3%;
        top: -7%;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: calc(.28 * 100vw + 0px);
        opacity: 0.02;
        text-align: center;
    }

}

.secondForm {
    padding: 20px 0;
    @media (min-width: 768px) {
        margin-bottom: 124px;
    }
    margin-bottom: 90px;

    &__content {
        // margin-top: 69px;
    }

}
