{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "house_vop",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1601028450818.6648,
          "date": "2020-09-25T11:15:31.921Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1601028385153.7976,
          "date": "2020-09-25T11:15:33.004Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Black.eot",
          "mtimeMs": 1600921072000,
          "date": "2020-09-24T07:25:27.624Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf",
          "mtimeMs": 1600921072000,
          "date": "2020-09-24T07:25:29.325Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Black.woff",
          "mtimeMs": 1600921072000,
          "date": "2020-09-24T07:25:30.742Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Black.woff2",
          "mtimeMs": 1600921073000,
          "date": "2020-09-24T07:25:32.129Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot",
          "mtimeMs": 1600921073000,
          "date": "2020-09-24T07:25:33.803Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf",
          "mtimeMs": 1600921073000,
          "date": "2020-09-24T07:25:35.603Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff",
          "mtimeMs": 1600921073000,
          "date": "2020-09-24T07:25:37.163Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2",
          "mtimeMs": 1600921074000,
          "date": "2020-09-24T07:25:38.542Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.eot",
          "mtimeMs": 1600921069000,
          "date": "2020-09-24T07:25:40.163Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf",
          "mtimeMs": 1600921069000,
          "date": "2020-09-24T07:25:41.883Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.woff",
          "mtimeMs": 1600921069000,
          "date": "2020-09-24T07:25:43.312Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.woff2",
          "mtimeMs": 1600921070000,
          "date": "2020-09-24T07:25:44.622Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot",
          "mtimeMs": 1600921070000,
          "date": "2020-09-24T07:25:46.485Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf",
          "mtimeMs": 1600921070000,
          "date": "2020-09-24T07:25:48.369Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff",
          "mtimeMs": 1600921070000,
          "date": "2020-09-24T07:25:49.815Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff2",
          "mtimeMs": 1600921071000,
          "date": "2020-09-24T07:25:51.686Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot",
          "mtimeMs": 1600921071000,
          "date": "2020-09-24T07:25:53.543Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf",
          "mtimeMs": 1600921071000,
          "date": "2020-09-24T07:25:55.310Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff",
          "mtimeMs": 1600921071000,
          "date": "2020-09-24T07:25:57.244Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2",
          "mtimeMs": 1600921072000,
          "date": "2020-09-24T07:25:58.923Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.eot",
          "mtimeMs": 1600921074000,
          "date": "2020-09-24T07:26:00.742Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf",
          "mtimeMs": 1600921074000,
          "date": "2020-09-24T07:26:02.443Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.woff",
          "mtimeMs": 1600921074000,
          "date": "2020-09-24T07:26:03.911Z"
        },
        {
          "file": "fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.woff2",
          "mtimeMs": 1600921075000,
          "date": "2020-09-24T07:26:05.263Z"
        },
        {
          "file": "fonts/PlayfairDisplay/demo.html",
          "mtimeMs": 1600921075000,
          "date": "2020-09-24T07:26:06.527Z"
        },
        {
          "file": "fonts/PlayfairDisplay/stylesheet.css",
          "mtimeMs": 1600921075000,
          "date": "2020-09-24T07:26:07.583Z"
        },
        {
          "file": "fonts/Playfair_Display/OFL.txt",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:26:08.704Z"
        },
        {
          "file": "fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:26:10.583Z"
        },
        {
          "file": "fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:26:12.384Z"
        },
        {
          "file": "fonts/Playfair_Display/README.txt",
          "mtimeMs": 1600866912000,
          "date": "2020-09-24T07:26:13.443Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:15.089Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:25.226Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:26.391Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:27.516Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:28.646Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:29.805Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:31:31.106Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:36:32.155Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:36:33.293Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:36:34.432Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:36:35.612Z"
        },
        {
          "file": "fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf",
          "mtimeMs": 1321369200000,
          "date": "2020-09-24T07:36:36.792Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.eot",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:31:22.247Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.ttf",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:31:23.267Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.woff",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:31:24.087Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Bold.woff2",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:36:37.594Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-ExtraBold.eot",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:36:44.352Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-ExtraBold.ttf",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:36:45.350Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-ExtraBold.woff",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:36:46.132Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-ExtraBold.woff2",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:36:46.951Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Light.eot",
          "mtimeMs": 1600918277000,
          "date": "2020-09-24T07:36:47.834Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Light.ttf",
          "mtimeMs": 1600918277000,
          "date": "2020-09-24T07:41:48.859Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Light.woff",
          "mtimeMs": 1600918277000,
          "date": "2020-09-24T07:41:49.655Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Light.woff2",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:41:50.494Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.eot",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:41:51.535Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.ttf",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:41:52.654Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.woff",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:41:53.494Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Medium.woff2",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:41:54.236Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Regular.eot",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:41:55.238Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Regular.ttf",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:41:56.216Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Regular.woff",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:41:57.154Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-Regular.woff2",
          "mtimeMs": 1600918278000,
          "date": "2020-09-24T07:41:59.617Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.eot",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:42:03.998Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.ttf",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:42:04.894Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff",
          "mtimeMs": 1600918279000,
          "date": "2020-09-24T07:42:05.715Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/PostNoBillsJaffna-SemiBold.woff2",
          "mtimeMs": 1600918280000,
          "date": "2020-09-24T07:42:06.554Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/demo.html",
          "mtimeMs": 1600918280000,
          "date": "2020-09-24T07:42:07.215Z"
        },
        {
          "file": "fonts/PostNoBillsJaffna/stylesheet.css",
          "mtimeMs": 1600918280000,
          "date": "2020-09-24T07:42:07.776Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Black.eot",
          "mtimeMs": 1600920825000,
          "date": "2020-09-24T07:42:08.814Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Black.ttf",
          "mtimeMs": 1600920825000,
          "date": "2020-09-24T07:42:09.934Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Black.woff",
          "mtimeMs": 1600920825000,
          "date": "2020-09-24T07:42:10.722Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Black.woff2",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:42:11.582Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Bold.eot",
          "mtimeMs": 1600920828000,
          "date": "2020-09-24T07:42:12.654Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Bold.ttf",
          "mtimeMs": 1600920828000,
          "date": "2020-09-24T07:42:13.654Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Bold.woff",
          "mtimeMs": 1600920828000,
          "date": "2020-09-24T07:42:14.637Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Bold.woff2",
          "mtimeMs": 1600920828000,
          "date": "2020-09-24T07:42:15.435Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraBold.eot",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:16.434Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraBold.ttf",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:17.634Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraBold.woff",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:19.074Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraBold.woff2",
          "mtimeMs": 1600920828000,
          "date": "2020-09-24T07:42:20.422Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraLight.eot",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:22.014Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraLight.ttf",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:23.560Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraLight.woff",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:25.103Z"
        },
        {
          "file": "fonts/Raleway/Raleway-ExtraLight.woff2",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:42:26.502Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Light.eot",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:42:28.074Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Light.ttf",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:42:29.594Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Light.woff",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:47:31.026Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Light.woff2",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:47:36.758Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Medium.eot",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:47:37.877Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Medium.ttf",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:47:38.941Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Medium.woff",
          "mtimeMs": 1600920826000,
          "date": "2020-09-24T07:47:39.738Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Medium.woff2",
          "mtimeMs": 1600920827000,
          "date": "2020-09-24T07:47:40.505Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Regular.eot",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:41.579Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Regular.ttf",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:42.558Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Regular.woff",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:43.397Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Regular.woff2",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:44.218Z"
        },
        {
          "file": "fonts/Raleway/Raleway-SemiBold.eot",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:45.242Z"
        },
        {
          "file": "fonts/Raleway/Raleway-SemiBold.ttf",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:46.279Z"
        },
        {
          "file": "fonts/Raleway/Raleway-SemiBold.woff",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:47.079Z"
        },
        {
          "file": "fonts/Raleway/Raleway-SemiBold.woff2",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:47.877Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Thin.eot",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:48.839Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Thin.ttf",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:49.957Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Thin.woff",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:51.297Z"
        },
        {
          "file": "fonts/Raleway/Raleway-Thin.woff2",
          "mtimeMs": 1600920829000,
          "date": "2020-09-24T07:47:52.596Z"
        },
        {
          "file": "fonts/Raleway/demo.html",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:53.937Z"
        },
        {
          "file": "fonts/Raleway/stylesheet.css",
          "mtimeMs": 1600920830000,
          "date": "2020-09-24T07:47:54.977Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.eot",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:40.909Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.ttf",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:43.573Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:44.932Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Bold.woff2",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:46.185Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.eot",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:53.605Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.ttf",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:56.269Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:57.525Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Medium.woff2",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:15:58.790Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.eot",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:00.983Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.svg",
          "mtimeMs": 1593062877000,
          "date": "2020-09-24T07:48:16.745Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.ttf",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:03.926Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:05.208Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Regular.woff2",
          "mtimeMs": 1600944853000,
          "date": "2020-09-25T11:16:06.406Z"
        },
        {
          "file": "fonts/Roboto/demo.html",
          "mtimeMs": 1600944853000,
          "date": "2020-09-25T11:16:13.288Z"
        },
        {
          "file": "fonts/Roboto/stylesheet.css",
          "mtimeMs": 1600944996124.2751,
          "date": "2020-09-25T11:16:14.285Z"
        },
        {
          "file": "img/bicycle.svg",
          "mtimeMs": 1600915940274.2349,
          "date": "2020-09-24T07:48:24.106Z"
        },
        {
          "file": "img/buildings.jpg",
          "mtimeMs": 1600916333908.2632,
          "date": "2020-09-24T07:48:28.118Z"
        },
        {
          "file": "img/facebook_social.svg",
          "mtimeMs": 1600916053149.2576,
          "date": "2020-09-24T07:48:29.097Z"
        },
        {
          "file": "img/fountain.svg",
          "mtimeMs": 1600915929853.7725,
          "date": "2020-09-24T07:48:30.201Z"
        },
        {
          "file": "img/instagram_social.svg",
          "mtimeMs": 1600916065978.1165,
          "date": "2020-09-24T07:48:31.120Z"
        },
        {
          "file": "img/loft.jpg",
          "mtimeMs": 1600916192022.7102,
          "date": "2020-09-24T07:48:32.618Z"
        },
        {
          "file": "img/loft2.jpg",
          "mtimeMs": 1600916249715.9558,
          "date": "2020-09-24T07:48:33.978Z"
        },
        {
          "file": "img/loft3.jpg",
          "mtimeMs": 1600916440573.0308,
          "date": "2020-09-24T07:48:35.898Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1590747675490.861,
          "date": "2020-09-24T07:16:01.370Z"
        },
        {
          "file": "img/mouse.svg",
          "mtimeMs": 1600864033877.137,
          "date": "2020-09-24T07:16:02.290Z"
        },
        {
          "file": "img/panorama.jpg",
          "mtimeMs": 1600863830665.136,
          "date": "2020-09-24T07:16:05.510Z"
        },
        {
          "file": "img/phone-call.svg",
          "mtimeMs": 1600864010345.7312,
          "date": "2020-09-24T07:16:06.410Z"
        },
        {
          "file": "img/placeholder.svg",
          "mtimeMs": 1600863986846.387,
          "date": "2020-09-24T07:16:07.389Z"
        },
        {
          "file": "img/play.svg",
          "mtimeMs": 1600915973216.1897,
          "date": "2020-09-24T07:16:08.290Z"
        },
        {
          "file": "img/square.svg",
          "mtimeMs": 1600864150513.3647,
          "date": "2020-09-24T07:16:09.190Z"
        },
        {
          "file": "img/vk_social.svg",
          "mtimeMs": 1600916039938.0442,
          "date": "2020-09-24T07:16:10.150Z"
        },
        {
          "file": "img/youtube_social.svg",
          "mtimeMs": 1600916024562.6099,
          "date": "2020-09-24T07:16:11.150Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1533643210000,
          "date": "2020-09-24T07:16:12.198Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1533643210000,
          "date": "2020-09-24T07:16:13.334Z"
        },
        {
          "file": "js/jquery.matchHeight.js",
          "mtimeMs": 1533643210000,
          "date": "2020-09-24T07:16:14.250Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1533643210000,
          "date": "2020-09-24T07:16:15.419Z"
        },
        {
          "file": "js/tab.js",
          "mtimeMs": 1533643210000,
          "date": "2020-09-24T07:00:33.096Z"
        },
        {
          "file": "img/building.svg",
          "mtimeMs": 1600915881740.374,
          "date": "2020-09-24T07:48:25.079Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Black.eot",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:34.529Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Black.ttf",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:36.335Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Black.woff",
          "mtimeMs": 1600944850000,
          "date": "2020-09-25T11:15:37.698Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Black.woff2",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:39.012Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.eot",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:47.648Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.ttf",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:49.246Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:50.686Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Light.woff2",
          "mtimeMs": 1600944851000,
          "date": "2020-09-25T11:15:51.945Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Thin.eot",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:08.024Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Thin.ttf",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:09.585Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Thin.woff",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:10.875Z"
        },
        {
          "file": "fonts/Roboto/Roboto-Thin.woff2",
          "mtimeMs": 1600944852000,
          "date": "2020-09-25T11:16:12.087Z"
        },
        {
          "file": "fonts/icomoon-v1.0/Read Me.txt",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:15.232Z"
        },
        {
          "file": "fonts/icomoon-v1.0/demo.html",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:16.205Z"
        },
        {
          "file": "fonts/icomoon-v1.0/selection.json",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:17.465Z"
        },
        {
          "file": "fonts/icomoon-v1.0/style.css",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:18.426Z"
        },
        {
          "file": "fonts/icomoon-v1.0/demo-files/demo.css",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:19.632Z"
        },
        {
          "file": "fonts/icomoon-v1.0/demo-files/demo.js",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:20.827Z"
        },
        {
          "file": "fonts/icomoon-v1.0/fonts/icomoon.eot",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:21.867Z"
        },
        {
          "file": "fonts/icomoon-v1.0/fonts/icomoon.svg",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:23.099Z"
        },
        {
          "file": "fonts/icomoon-v1.0/fonts/icomoon.ttf",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:24.268Z"
        },
        {
          "file": "fonts/icomoon-v1.0/fonts/icomoon.woff",
          "mtimeMs": 1600936228000,
          "date": "2020-09-25T11:16:25.426Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
