footer.footer
    .container_center
        .footer__content
            a.footer__logo
                span.footer__name HouseVOP
                span.footer__subname Жилой комплекс
            .footer__column
                .footer__item 
                    a(href="http://", target="_blank") О комплексе
                .footer__item
                    a(href="http://", target="_blank") Район
                .footer__item
                    a(href="http://", target="_blank") Каталог квартир
                .footer__item
                    a(href="http://", target="_blank") Ипотека
                .footer__item
                    a(href="http://", target="_blank") Контакты
            .footer__column
                .footer__item 
                    a(href="http://", target="_blank") О комплексе
                .footer__item
                    a(href="http://", target="_blank") Район
                .footer__item
                    a(href="http://", target="_blank") Каталог квартир
                .footer__item
                    a(href="http://", target="_blank") Ипотека
                .footer__item
                    a(href="http://", target="_blank") Контакты
            .footer__column
                .footer__item Адрес: Наб. реки Фонтанки 10-15
                .footer__item 
                    a(href="tel:8 (812) 123-45-67") Телефон: 8 (812) 123-45-67
                .footer__item Отдел продаж: 10:00 - 20:00
                .footer__item 
                    a(href="mailto:vip@housevip.ru")
                        |E-mail: 
                        span vip@housevip.ru
                .footer__item
                    .footer__social
                        a(href="http://youtube.com", target="_blank") 
                            i.icon_youtube_social
                        a(href="http://vk.com", target="_blank")
                            i.icon_vk_social
                        a(href="http://facebook.com", target="_blank")
                            i.icon_facebook_social 
                        a(href="http://instagram.com", target="_blank")
                            i.icon_instagram_social
