header.header
    .header__content
        .header__left
            a.header__logo(href="/")
                span.header__name HouseVOP
                span.header__subname Жилой комплекс

        nav.header__right
            input.hamburger#hamburger(type="checkbox")
            label.hamburger(for="hamburger")
                i.i
                i.text
                    i.close закрыть
                    i.open меню


            ul.navbar
                li.navbar__item
                    a.navbar__link(href="#advantages") О комплексе
                        span
                        span
                        span
                        span
                li.navbar__item
                    a.navbar__link(href="#apartments") Каталог квартир
                        span
                        span
                        span
                        span
                li.navbar__item
                    a.navbar__link(href="#firstForm") Район
                        span
                        span
                        span
                        span

                li.navbar__item
                    a.navbar__link(href="#footer") Контакты
                        span
                        span
                        span
                        span
            //- ниже оригинальное меню
            //- ul.navbar
            //-     li.navbar__item
            //-         a.navbar__link(href="#") О комплексе
            //- 
            //-     li.navbar__item
            //-         a.navbar__link(href="#") Каталог квартир
            //- 
            //-     li.navbar__item
            //-         a.navbar__link(href="#") Район
            //- 
            //- 
            //-     li.navbar__item
            //-         a.navbar__link(href="#") Контакты
