header.header
    .header__content
        .header__left
            a.header__logo(href="/")
                span.header__name HouseVOP
                span.header__subname Жилой комплекс

        nav.header__right
            ul.navbar
                li.navbar__item
                    a.navbar__link(href="#") О комплексе
                        span
                        span
                        span
                        span

                li.navbar__item
                    a.navbar__link(href="#") Район
                        span
                        span
                        span
                        span
                li.navbar__item
                    a.navbar__link(href="#") Каталог квартир
                        span
                        span
                        span
                        span
                li.navbar__item
                    a.navbar__link(href="#") Ипотека
                        span
                        span
                        span
                        span
                li.navbar__item
                    a.navbar__link(href="#") Контакты
                        span
                        span
                        span
                        span
