//- -var version = '0.1';
block variables
    - var baseDir = "/";
    - var pageTitle = "house vop";

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=pageTitle

        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        include header.pug

        main.main_content
            block content

        include footer.pug

script(src="js/jquery.js")
//- script(src="js/modal.js")
script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=c7bb6b77-3736-4ed1-944b-c7364b333d9d', type='text/javascript')
<script src="js/polygon.js" type="text/javascript"></script>
script(src="js/script.js")
