extends layout/layout.pug

block content
    // begin home
    section#home.home.section
        .home__content
            h1.home__title 
                |Жилой комплекс
                br
                |в историческом центре
            .home__downIcon
                i.icon_mouse
        .home__bottom
            a.home__item(href="#map")
                span.home__icon
                    i.icon_placeholder
                span.home__text Наб. реки Фонтанки 10-15
            a.home__item(href="tel:88121234567")
                span.home__icon
                    i.icon_phone-call
                span.home__text 8 (812) 123-45-67

    // end home
    // begin advantages
    section#advantages.advantages.section
        //- .advantages__II II
        .container_center

            .advantages__content
                .advantages__II II
                .advantages__item
                    .advantages__icon
                        i.icon_square 
                    .advantages__text Рядом исторические парки и скверы
                .advantages__item
                    .advantages__icon
                        i.icon_building 
                    .advantages__text Полностью обустроенный
                .advantages__item
                    .advantages__icon
                        i.icon_fountain
                    .advantages__text 10 фонтанов на территории
                .advantages__item
                    .advantages__icon
                        i.icon_bicycle
                    .advantages__text
                        | 6 км
                        br
                        | велодорожек


    // end advantages
    // begin apartments
    section#apartments.apartments.section
        .container_center
            h2.section__title Наши квартиры
            .apartments__content
                .apartments__III III
                .apartments__item
                    a.apartments__plate(href="vk.com" style="background-image: url(img/loft.jpg)")
                        .apartments__description Лофт — 3 этажа
                .apartments__item
                    a.apartments__plate(href="vk.com" style="background-image: url(img/loft2.jpg)")
                        .apartments__description Лофт — 2 этажа
                .apartments__item
                    a.apartments__plate(href="vk.com" style="background-image: url(img/loft.jpg)")
                        .apartments__description Лофт — 3 этажа
                .apartments__item
                    a.apartments__plate(href="vk.com" style="background-image: url(img/loft2.jpg)")
                        .apartments__description Лофт — 2 этажа

    // end apartments
    // begin firstForm
    section#firstForm.firstForm.section(style="background-image: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(img/buildings.jpg);")
        .container_center
            .firstForm__content
                .firstForm__left
                    h2.section__title Хотите посмотреть?
                    .firstForm__description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. 
                .firstForm__right
                    form.form.form_grid#form1(method="POST" enctype="multipart/form-data" onsubmit="send(event, 'send.php')")
                        .form__row
                            input(type="text", name="firstName", placeholder="Ваше имя", required)
                        .form__row
                            input(type="text", name="phone", placeholder="Ваш телефон", required)
                        .form__row
                            button.btn.btn_form(type="submit", ) Посмотреть район
                        .form__row.form__row_text *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.





    // end firstForm
    // begin video
    section#video.video.section
        .container_center
            .video__IV IV
            .video__wrapper.js_youtube#iwMqsKDTdQ0

                .video__prev(style="background-image: url(img/loft3.jpg)")


    // end video
    // begin map
    section#map.map.section
        .container_center
            h2.section__title Район на карте
            #yandexMap.map__content
                .map__V V

    // end map
    // begin secondForm
    section#secondForm.secondForm.section
        .container_center
            h2.section__title Есть вопросы?
            .secondForm__content
                form.form.form_grid.form_grid_margin_s#form2(method="POST" enctype="multipart/form-data" onsubmit="send(event, 'send.php')")
                    //- .form__row.form__row_oneLine.form__row_text *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                    .form__row.form__row_oneLine
                        input(type="text", name="firstName", placeholder="Ваше имя", required)
                    .form__row.form__row_oneLine
                        input(type="text", name="phone", placeholder="Ваш телефон", required)

                    .form__row.form__row_oneLine
                        button.btn.btn_form(type="submit", ) Посмотреть район
                    .form__row.form__row_oneLine.form__row_text *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
            // end secondForm

    // Begin Modal info
    .modal.fade.info#info
        .modal-dialog.modal-dialog-sm
            .modal-content
                a(href="#" class="modal-close")

                .info__message
    // End Modal info
