$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_bicycle: "\e900";
$icon_building: "\e901";
$icon_facebook_social: "\e902";
$icon_fountain: "\e903";
$icon_instagram_social: "\e904";
$icon_mouse: "\e905";
$icon_phone-call: "\e906";
$icon_placeholder: "\e907";
$icon_play: "\e908";
$icon_square: "\e909";
$icon_vk_social: "\e90a";
$icon_youtube_social: "\e90b";

